.root {
    -fx-background-color: green;
    }

.button:hover {
    -fx-background-color: blue;
}
#Chessboard {
    //-fx-background-color: black;
    //-fx-background-image: url(../images/Chessboard001.png);
    //-fx-background-size: 100% 100%;
}
#Chessboardimg {
    //-fx-background-color: black;
    -fx-background-image: url(../images/Chessboard001.png);
    -fx-background-size: 100% 100%;
}
.circle {

}
#a {
-fx-background-color: black;
}